
<div class="nav-scrollable">
    <div class="sidebar-header">
        <div class="header-content">
            <a class="stanley-icon" href=""></a>
            <a class="header-brand" href="">Foolproof Samples</a>
        </div>
    </div>

    <nav class="flex-column">
        <div class="nav-item navbar-toggler">
            <Button class="nav-link" title="Navigation menu">
                <Icon Name="IconName.List" Color="IconColor.White" Class="toggler-icon" />
                <label>Collapse Navbar</label>
            </Button>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Name="IconName.House" />
                <label>Home</label>
            </NavLink>
        </div>
    </nav>
</div>
